<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="footer-about-us">
                <h2><span>RushB Sport</span></h2>

                <div class="footer-social">
                    <a href="https://www.facebook.com/YouSport.vn/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://yousport.vn/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCS79AkiOAc2Q2Lg8HN1-lqA" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
                <h2 class="footer-wid-title">Điều hướng người dùng </h2>
                <ul>
                    <li><a href="/userInfoUpdate">Tài khoản</a></li>
                    <li><a href="/orders">Lịch sử giao dịch</a></li>
                    <li><a href="#">Đầu trang</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">

        </div>

        <div class="col-md-3 col-sm-6">
            <div class="footer-newsletter">
                <h2 class="footer-wid-title">Thông báo</h2>
                <p>Hãy đăng ký nhận thông báo mỗi khi có sản phẩm mới hoặc sale hot</p>
                <div class="newsletter-form">
                    <form action="#">
                        <input type="email" placeholder="Email của bạn">
                        <input type="submit" value="Đăng ký">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>