<div class="col-md-4">
    <div class="single-sidebar">
        <h2 class="sidebar-title">Tìm kiếm sản phẩm</h2>
        <form action="/result-search" method="get">
            <input type="text" name="name" placeholder="Nhập tên sản phẩm">
            <button type="submit">Tìm kiếm</button>
        </form>
    </div>
</div>