<div class="col-md-4">
    <div class="single-sidebar">
        <h2 class="sidebar-title"Tìm kiếm sản phẩm</h2>
        <form action="#">
            <input type="text" placeholder="Nhập tên sản phẩm">
            <input type="submit" value="Tìm kiếm">
        </form>
    </div>
    <div class="single-sidebar">
        <h2 class="sidebar-title">Sản phẩm liên quan</h2>
        <div class="thubmnail-recent">
            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="" pagespeed_url_hash="1733883786" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <h2><a href="single-product.htm">Sony Smart TV - 2015</a></h2>
            <div class="product-sidebar-price">
                <ins>$700.00</ins> <del>$800.00</del>
            </div>
        </div>
        <div class="thubmnail-recent">
            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="" pagespeed_url_hash="1733883786" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <h2><a href="single-product.htm">Sony Smart TV - 2015</a></h2>
            <div class="product-sidebar-price">
                <ins>$700.00</ins> <del>$800.00</del>
            </div>
        </div>
        <div class="thubmnail-recent">
            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="" pagespeed_url_hash="1733883786" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <h2><a href="single-product.htm">Sony Smart TV - 2015</a></h2>
            <div class="product-sidebar-price">
                <ins>$700.00</ins> <del>$800.00</del>
            </div>
        </div>
        <div class="thubmnail-recent">
            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="" pagespeed_url_hash="1733883786" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <h2><a href="single-product.htm">Sony Smart TV - 2015</a></h2>
            <div class="product-sidebar-price">
                <ins>$700.00</ins> <del>$800.00</del>
            </div>
        </div>
    </div>
    <div class="single-sidebar">
        <h2 class="sidebar-title">Xem gần đây</h2>
        <ul>
            <li><a href="#">Sony Smart TV - 2015</a></li>
            <li><a href="#">Sony Smart TV - 2015</a></li>
            <li><a href="#">Sony Smart TV - 2015</a></li>
            <li><a href="#">Sony Smart TV - 2015</a></li>
            <li><a href="#">Sony Smart TV - 2015</a></li>
        </ul>
    </div>
</div>