
<div class="header-area">
    {{> header-area}}
</div> <!-- End header area -->

<div class="site-branding-area">
    {{>site-branding-area}}
</div> <!-- End site branding area -->

<div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 50px;">
    {{>mainmenu}}
</div>

<!-- Page content -->

 <!-- End page content -->


<div class="footer-top-area">
   {{>footer-top}}
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
   {{>footer-bot}}
</div> <!-- End footer bottom area -->
