
<div class="header-area">
    {{> header-area}}
</div> <!-- End header area -->

<div class="site-branding-area">
    {{>site-branding-area}}
</div> <!-- End site branding area -->

<div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 50px;">
    {{>mainmenu}}
</div>

<!-- Page content -->
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1>Website bán giày đá banh</h1>
        </div>
        <div class="panel-body">
            <p>
            </p><h2>Các thành viên</h2>
            <ul>
                <li>Phạm Hoàng Minh - 1612380</li>
                <li>Nguyễn Văn Phương Nghi - 1612415</li>
            </ul>
            <p></p>
        </div>
    </div>
</div>
<!-- End page content -->


<div class="footer-top-area">
    {{>footer-top}}
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    {{>footer-bot}}
</div> <!-- End footer bottom area -->
