
<div class="header-area">
    {{> header-area}}
</div> <!-- End header area -->

<div class="site-branding-area">
    {{>site-branding-area}}
</div> <!-- End site branding area -->

<div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 50px;">
    {{>mainmenu}}
</div>

<!-- Page content -->
<div class="container" style="background-color: white;">
    <div class="jumbotron text-xs-center">
        <h2 class="display-3">{{successMsg}}</h2>
        <img src="img/thankyou.jpg">
        <p class="lead"><strong>SẢN PHẨM CỦA BẠN SẼ ĐƯỢC CHUYỂN ĐẾN ĐỊA CHỈ TRONG VÒNG 14 NGÀY.</strong></p>
    </div>
</div>
<!-- End page content -->


<div class="footer-top-area">
    {{>footer-top}}
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    {{>footer-bot}}
</div> <!-- End footer bottom area -->
