<form action="/verify" method="POST">
    <h2>Kích hoạt tài khoản</h2>
    <label > Mã kích hoạt </label>
    <input type="secretToken" id="secretToken" name="secretToken" class="form-control" placeholder="Nhập mã xác nhận" required autofocus>

    </br>
    <button class="btn btn-lg btn-default btn-block" type="submit"> Xác nhận </button> 
</form>